/* Feeds.css */
.form{
  margin:10px;
  padding:2px;
  height:100vh;
  width:90%;
  border: 1px solid #ccc;
  border-radius: 6px;

}
.All-icons {
  display:flex;
  margin-left:10%;
}

.feed-item{
  margin:5px;
  padding:5px;
  width:30%;
  border: 3px solid #9a15c3;
  border-radius: 6px;
  margin-right:20%;
  justify-content: center;
  align-items:center;
}
.button-contain {
  
  align-items: center;

}

.button-container {
  position: fixed;
  top: 20px; /* Adjust the top position */
  right: 10%; /* Adjust the right position */
  display: flex;
  align-items: center;
}

.tooltip {

}



.submit-plan {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.submit-plan:hover {
  background-color: #0056b3;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

 

  