.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .form-container {
    width: 40%; 
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;
    border-radius : 6%;
  }
  .button{
    align-items: center;
    margin-left:40%;
  }
  .switch
  {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .switch p{
    margin-right:2%;
  }
  .modal-heading {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .modal-list {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }